<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Employee Management - About</title>
</head>
<body>
 <div class="container">
    <div class="flex-container">
      <h1>About Us</h1>
      <div class="about-content">
        <p>Welcome to the Employee Management System.</p>
        <p>This system is designed to manage employee records efficiently. You can add new employees, search for existing ones, and update their information.</p>
        <p>Our goal is to provide an easy-to-use platform for managing employee data, enhancing productivity and streamlining HR operations.</p>
        <p>If you have any questions, feedback or need technical support, please feel free to reach out us at <a href="mailto:support@ems.com">support@ems.com</a>.</p>
      </div>
    </div>
  </div>
</body>
</html>
