<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Employee Management - Main Menu</title>
</head>
<body>
  <div class="container">
    <div class="flex-container">
    <h1>Main Menu</h1>
    <nav class="main-menu">
        <a href="/add">Add Employee</a>
        <a href="/search">Search Employee</a>
        <a href="/update">Update Employee</a>
        <a href="/about">About</a>
    </nav>
    </div>
  </div>
</body>
</html>
